html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --pixel-size: 20px;
}

main {
  max-width: 640px;
  margin: 80px auto;
}

#canvas {
  image-rendering: pixelated;
  width: 640px;
  height: 640px;
}

/* .pixels {
  display: grid;
  grid-template-columns: repeat(32, var(--pixel-size));
}

.pixel {
  width: var(--pixel-size);
  height: var(--pixel-size);
} */
